:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body{
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22rem;
}

header img{
    align-items: center;
    margin-top: 9.5rem;
}

h1,h2{
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
}

p{
    color: var(--Grayish-Blue);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2;
    margin: auto;
}

div{
    margin-bottom: 5rem;
}

.image2 img{
    width: 70%;
}

.ios-btn, .mac-btn{
    color: white;
    border-width: 0;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
}

.ios-btn{
    background-color: var(--Strong-Cyan);
    box-shadow: 1px 10px 15px -7px var(--Strong-Cyan);
}

.ios-btn:hover{
    background-color: hsl(171, 60%, 50%);
}

.mac-btn{
    background-color: var(--Light-Blue);
    box-shadow: 1px 10px 15px -7px var(--Light-Blue);
}

.mac-btn:hover{
    background-color: hsl(233, 86%, 71%);
}

.container1 img{
    width: 100%;
}

.quick-search p{
    margin-bottom: 4rem;
}

footer{
    background-color:hsl(206, 26%, 95%);
}

.logo img{
    width: 3.5rem;
}

.contact a{
    text-decoration: none;
    color: var(--Grayish-Blue);
}

.contact a:hover{
    color:hsl(171, 73%, 53%);
}

.contact div{
    margin-bottom: 10px;
}

.icon:hover{
    filter: invert(58%) sepia(94%) saturate(356%) hue-rotate(122deg) brightness(88%) contrast(85%);
}

.social-media a{
    display: inline-block;
    padding: 20px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(orientation:landscape){
    header{
        background-image: url(../images/bg-header-desktop.png);
    }

    h1{
        font-size: 2.5rem;
    }

    p{
        width: 43.75rem;
    }

    .container1{
        display: flex;
        justify-content: space-evenly;
        gap: 3rem;
    }

    .quick-search{
        margin-top: 3.5rem;
        text-align: left;
        width: 23.75rem;
    }

    .quick-search p, .blacklist p{
        width: 25rem;
    }

    .quick-search p{
        margin-left: 0;
    }


    .container2{
        display: flex;
        justify-content: space-evenly;
    }

    .blacklist{
        width: 30%;
    }

    .blacklist p{
        width: 85%;
    }

    .companies{
        display: flex;
        justify-content: space-evenly;
    }

    .companies div{
        width: 30%;
    }

    .companies img{
        width: 50%;
    }

    .ios-btn, .mac-btn{
        margin: 3.125rem 0.625rem 6.25rem 0;
        padding: 1rem;
        width: 12.5rem;
    }

    .main-footer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo, .contact, .social-media{
        margin-top: 3.125rem;
    }

    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
        text-align: left;
    }

    .social-media{
        float: left;
    }
}

@media(max-width:800px){
    header{
        background-image: url(../images/bg-header-mobile.png);
    }

    p{
        line-height: 1.5;
        width: 23rem;
    }

    .image1{
        margin: auto;
        width: 90%;
    }

    .container1, .companies{
        margin-bottom: 12rem;
    }

    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 2rem;
        margin: 3rem 0 12rem ;
    }

    .ios-btn, .mac-btn{
        width: 70%;
    }

    .main-footer div{
        margin: 3rem;
    }

    .logo{
        padding-top: 3rem;
    }

    .contact a{
        font-size: 1.5rem;
    }
}